:root {
  --secondary: #625B71;
  --suit: #cac4d0;
  --bush: #68548E;
  --mobster: #7A757F;
  --ship: #49454E;
  --gigas: #4f378b;
  --wine: #4a4458;
  --chetwode: #9a83db;
  --baltic: #1D1B20;
  --melrose: #D3BCFD;
  --lavender: #ccc2dc;
  --raker: #e8def8;
  --chalk: #eaddff;
  --pointer: #FEF7FF;
  --whisper: #EDE6EE;
}