<section class="about" id="about">
  <img src="/img/about-decor.png" alt="decor" class="about__decor">
  <div class="container about__container">
    <img src="/img/about-curve.svg" alt="curve" class="about__curve">
    <div class="section-head">
      <h2 class="title title-2">About</h2>
      <img src="/img/about-line.svg" alt="line" class="about__line" />
    </div>
    <div class="about__body">
      <svg class="about__star">
        <use xlink:href='img/icons/icons.svg#icon-star'></use>
      </svg>
      <div class="about__info">
        <h3 class="title about__info-title">Reunit.Me</h3>
        <p class="about__info-subtitle">
          is the world's largest lost and found company that helps owners get their lost items back.
        </p>
        <p class="about__info-content">
          Our unique ID tags with QR codes protect all types of portable items: cell phones,
          laptops, keys, luggage, pets and more. Over <span>80%</span> of lost items protected by ReturnMe are
          recovered by their owners within <span>48 hours</span> thanks to our simple, confidential and secure
          return system.
        </p>
        <a href="#" class="btn btn-custom btn-custom--primary about__btn">Buy Stickers</a>
      </div>
      <img data-da=".about__info,767,2" src="/img/about.png" alt="men" class="about__img">
    </div>
  </div>
</section>
