<section class="designed">
  <div class="container">
    <div class="section-head">
      <h2 class="title title-2 designed__title">
        <span>Designed for</span> lasting performance
      </h2>
      <img src="/img/flow-line.svg" alt="line" class="designed__line">
    </div>
    <div class="designed__body">
      <div class="designed__item">
        <h5 class="designed__item-title">Water-resistant</h5>
        <img src="/img/designed-portfel.jpg" alt="portfel" class="designed__img">
        <div class="designed__box">
          <svg class="designed__box-icon">
            <use xlink:href='#icon-cloud'></use>
          </svg>
        </div>
      </div>
      <div class="designed__item">
        <h5 class="designed__item-title">Dirt-resistant</h5>
        <img src="/img/designed-copybook.png" alt="copybook" class="designed__img">
        <div class="designed__box">
          <svg class="designed__box-icon">
            <use xlink:href='#icon-shield'></use>
          </svg>
        </div>
      </div>
      <div class="designed__item">
        <h5 class="designed__item-title">Frost-resistant</h5>
        <img src="/img/designed-box.png" alt="box" class="designed__img">
        <div class="designed__box">
          <svg class="designed__box-icon">
            <use xlink:href='#icon-snow'></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>