<section class="flow" id="flow">
  <div class="container flow__container">
    <div class="section-head">
      <h2 class="title title-2 flow__title"><span>How</span> it works Flow</h2>
      <img src="./img/flow-line.svg" alt="line" class="flow__head-line" />
      <a data-da=".flow__container,767,3" href="#" class="btn btn-custom btn-custom--primary flow__btn">Buy Stickers</a>
    </div>
    <div class="swiper flow__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide flow__slide">
          <span class="flow__number flow__number--top-left">01</span>
          <h5 class="title flow__slide-title">Buy Stickers</h5>
          <img src="./img/mail.png" alt="mail" class="flow__img" />
        </div>
        <div class="swiper-slide flow__slide">
          <span class="flow__number flow__number--top-right">02</span>
          <h5 class="title flow__slide-title">
            Register Sticker on <br />
            Site for free
          </h5>
          <img src="./img/qr.png" alt="qr" class="flow__img" />
        </div>
        <div class="swiper-slide flow__slide">
          <span class="flow__number flow__number--bottom-right">03</span>
          <h5 class="title flow__slide-title">
            Add your message for founder. <br />
            Add information about reward
          </h5>
          <img src="./img/tel-sweater.jpg" alt="tel-sweater" class="flow__img" />
        </div>
        <div class="swiper-slide flow__slide">
          <span class="flow__number flow__number--bottom-left">04</span>
          <h5 class="title flow__slide-title">Activate sticker</h5>
          <img src="./img/tel.jpg" alt="tel" class="flow__img" />
        </div>
        <div class="swiper-slide flow__slide">
          <span class="flow__number flow__number--top-left">05</span>
          <h5 class="title flow__slide-title">Check messages in case of loosing your <br> thing </h5>
          <img src="./img/mac.jpg" alt="mac" class="flow__img" />
        </div>
      </div>
    </div>
    <div class="slider-nav flow__slider-nav">
      <button class="btn slider-nav__btn slider-nav__btn--prev">
        <svg class="slider-nav__arrow">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
      <button class="btn slider-nav__btn slider-nav__btn--next">
        <svg class="slider-nav__arrow">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
