<section class="hero">
  <img src="/img/hero-decor.png" alt="decor" class="hero__decor">
  <img src="/img/radial.png" alt="decor" class="hero__radial">
  <div class="container hero__container">
    <h1 class="title title-1 hero__title"><span class="hero__title-main">REUNIT.ME</span> - easy-to-use <span class="hero__subtitle">lost and found service</span></h1>
    <img src="/img/portfel.jpg" alt="image" class="hero__img" />
    <div class="hero__buttons">
      <a href="#" class="btn btn-custom btn-custom--primary hero__btn">Return Item</a>
      <a href="#" class="btn btn-custom btn-custom--stroke hero__btn">Activate Tag</a>
    </div>
    <article class="hero__article">
      <svg class="hero__article-icon">
        <use xlink:href="#icon-star"></use>
      </svg>
      <p class="hero__article-content">
        Our intelligent tag carries essential information about its owner and anyone it’s attached
        to, making it simple for anyone who finds a lost item to contact the rightful owner and
        facilitate its safe return.
      </p>
    </article>
    <img src="/img/curve.svg" alt="curve" class="hero__curve">
  </div>
</section>
