<section class="say-about" id="say-about">
  <div class="container say-about__container">
    <div class="section-head">
      <h2 class="title title-2 say-about__title"><span>What people</span> say about us ?</h2>
      <img src="./img/say-line.svg" alt="line" class="say-about__line" />
      <div data-da=".say-about__container,767,2" class="slider-nav say-about__slider-nav">
        <button class="btn slider-nav__btn slider-nav__btn--prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn slider-nav__btn--next">
          <svg class="slider-nav__arrow">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper say-about__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide say-about__slide">
          <div class="say-about__profile">
            <img src="./img/esther.jpg" alt="esther" class="say-about__avatar" />
            <div class="say-about__profile-info">
              <div class="say-about__reviews">
                <div class="say-about__stars">
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                </div>
                <span class="say-about__reviews-value">5/5</span>
              </div>
              <h5 class="title title-2 say-about__profile-title">Esther Howard</h5>
              <span class="say-about__status">Medical Assistant</span>
            </div>
          </div>
          <p class="say-about__content">
            I attached a REUNIT.ME sticker to my laptop. One day, I forgot it in a café. Thankfully,
            someone found it and scanned the QR code. They called me quickly, and I was able to
            retrieve my laptop the same day! Very grateful for such a convenient service.
          </p>
        </div>
        <div class="swiper-slide say-about__slide">
          <div class="say-about__profile">
            <img src="./img/albert.jpg" alt="albert" class="say-about__avatar" />
            <div class="say-about__profile-info">
              <div class="say-about__reviews">
                <div class="say-about__stars">
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                </div>
                <span class="say-about__reviews-value">5/5</span>
              </div>
              <h5 class="title title-2 say-about__profile-title">Albert Flores</h5>
              <span class="say-about__status">Dog Trainer</span>
            </div>
          </div>
          <p class="say-about__content">
            I put REUNIT.ME stickers on my keys and bag. Now, if I happen to lose them, I know that
            people can quickly and easily contact me through the QR code. Highly recommend this
            product to anyone who often forgets things.
          </p>
        </div>
        <div class="swiper-slide say-about__slide">
          <div class="say-about__profile">
            <img src="./img/darrell.jpg" alt="darrell" class="say-about__avatar" />
            <div class="say-about__profile-info">
              <div class="say-about__reviews">
                <div class="say-about__stars">
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                </div>
                <span class="say-about__reviews-value">5/5</span>
              </div>
              <h5 class="title title-2 say-about__profile-title">Darrell Steward</h5>
              <span class="say-about__status">Marketing Coordinator</span>
            </div>
          </div>
          <p class="say-about__content">
            I do sports and often lose my locker keys at the gym. Now I use RETUME stickers, and
            thanks to the QR code, I’ve already gotten my keys back twice. It really works!
          </p>
        </div>
        <div class="swiper-slide say-about__slide">
          <div class="say-about__profile">
            <img src="./img/esther.jpg" alt="esther" class="say-about__avatar" />
            <div class="say-about__profile-info">
              <div class="say-about__reviews">
                <div class="say-about__stars">
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                </div>
                <span class="say-about__reviews-value">5/5</span>
              </div>
              <h5 class="title title-2 say-about__profile-title">Esther Howard</h5>
              <span class="say-about__status">Medical Assistant</span>
            </div>
          </div>
          <p class="say-about__content">
            I attached a REUNIT.ME sticker to my laptop. One day, I forgot it in a café. Thankfully,
            someone found it and scanned the QR code. They called me quickly, and I was able to
            retrieve my laptop the same day! Very grateful for such a convenient service.
          </p>
        </div>
        <div class="swiper-slide say-about__slide">
          <div class="say-about__profile">
            <img src="./img/albert.jpg" alt="albert" class="say-about__avatar" />
            <div class="say-about__profile-info">
              <div class="say-about__reviews">
                <div class="say-about__stars">
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                </div>
                <span class="say-about__reviews-value">5/5</span>
              </div>
              <h5 class="title title-2 say-about__profile-title">Albert Flores</h5>
              <span class="say-about__status">Dog Trainer</span>
            </div>
          </div>
          <p class="say-about__content">
            I put REUNIT.ME stickers on my keys and bag. Now, if I happen to lose them, I know that
            people can quickly and easily contact me through the QR code. Highly recommend this
            product to anyone who often forgets things.
          </p>
        </div>
        <div class="swiper-slide say-about__slide">
          <div class="say-about__profile">
            <img src="./img/darrell.jpg" alt="darrell" class="say-about__avatar" />
            <div class="say-about__profile-info">
              <div class="say-about__reviews">
                <div class="say-about__stars">
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                  <svg class="say-about__star">
                    <use xlink:href="#icon-star-2"></use>
                  </svg>
                </div>
                <span class="say-about__reviews-value">5/5</span>
              </div>
              <h5 class="title title-2 say-about__profile-title">Darrell Steward</h5>
              <span class="say-about__status">Marketing Coordinator</span>
            </div>
          </div>
          <p class="say-about__content">
            I do sports and often lose my locker keys at the gym. Now I use RETUME stickers, and
            thanks to the QR code, I’ve already gotten my keys back twice. It really works!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
