<section class="why">
  <img src="./img/why-decor.png" alt="decor" class="why__decor" />
  <img src="./img/why-radial.png" alt="radial" class="why__radial">
  <div class="container">
    <div class="section-head">
      <h2 class="title title-2"><span>Why</span> Reunit.Me ?</h2>
      <img src="./img/why-line.svg" alt="line" class="why__line" />
    </div>
    <ul class="list why__list">
      <li class="why__item">
        <div class="why__wrapper-title">
          <h5 class="title why__item-title">Security means foresight.</h5>
        </div>
        <div class="why__info">
          <p class="why__content">We cater to situations where your prized possessions are lost.</p>
          <div class="why__rect">
            <svg class="why__rect-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="why__item">
        <div class="why__wrapper-title">
          <h5 class="title why__item-title">No download or updates required</h5>
        </div>
        <div class="why__info">
          <p class="why__content">
            Our service crosse browser-based app compatible with any device and all web browsers
          </p>
          <div class="why__rect">
            <svg class="why__rect-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="why__item">
        <div class="why__wrapper-title">
          <h5 class="title why__item-title">LifeSaver profile settings</h5>
        </div>
        <div class="why__info">
          <p class="why__content">
            We can carry crucial information (health and contact details) about a HUMAN, a PET
            or an ITEM
          </p>
          <div class="why__rect">
            <svg class="why__rect-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="why__item">
        <div class="why__wrapper-title">
          <h5 class="title why__item-title">Full control of your data privacy</h5>
        </div>
        <div class="why__info">
          <p class="why__content">
            We uses industry-best practices to secure your data and puts you in control of what
            details to share publicly
          </p>
          <div class="why__rect">
            <svg class="why__rect-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
