.title {
  font-weight: 400;
  margin: 0;
  color: var(--gigas);
}
.title-1 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.02em;
  @include tablet {
    font-size: 32px;
  }
}
.title-2 {
  font-weight: 400;
  font-size: 45px;
  line-height: 116%;
  span {
    color: var(--wine);
  }
  @include laptop {
    font-size: 40px;
  }
  @include laptop-min {
    font-size: 36px;
  }
  @include tablet {
    font-size: 32px;
    line-height: 125%;
  }
}
