@font-face {
	font-family: Kameron;
	font-display: swap;
	src: url("../fonts/Kameron-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Kameron;
	font-display: swap;
	src: url("../fonts/Kameron.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Kantumruy;
	font-display: swap;
	src: url("../fonts/Kantumruy-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Kantumruy;
	font-display: swap;
	src: url("../fonts/Kantumruy-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("../fonts/Unbounded-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("../fonts/Unbounded-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
